@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
  background-color: #424242;
  color: #fbfbfb;
  font-weight: bold;
  font-family: 'Roboto';
}

#app{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-group{
  display: flex;
  flex-direction: column;
}

.input-group > *{
  margin: 0 10px;
}

.input-group > label{
  margin-bottom: 5px;
}

.input-group.full{
  width: 100%;
}

.row{
  display: flex;
  margin-bottom: 10px;
}

#content{
  margin-top: 100px;  
  max-width:760px;
}

textarea,
input{
  background: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
  opacity: 1;
  transition: all .2s ease-in-out;
  padding: 5px 0px;
  cursor: text;
}

input{
  height: 30px;
  text-indent: 15px;
  
}

textarea{
  padding-left: 15px;
  resize: none;
}

h2{
  text-align: center;
  border: 2px solid white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
}

#poi-add{
  margin: 50px 0;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #777777;
  border: 2px solid white;
  color: white;
  outline: none;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

#poi-detail-modal-bkg{
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#poi-detail-modal-bkg #poi-detail-modal-content{
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 5px; 
}

#poi-modal-bkg{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#poi-modal-bkg #poi-modal-content{
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 5px; 
}

#poi-modal-bkg #poi-modal-content input{
  border: 1px solid slategray;
}

#poi-modal-bkg #poi-modal-content button{
  width: 80px;
  height: 30px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid darkgray;
  cursor: pointer;
}

#loading{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading img{
  height: 50px;
  width: 50px;
}

#poi-photo{
  display: none;
}

.photo-square{
  width: 130px;
  height: 130px;
  cursor: pointer;
  margin: 0 15px 15px 0;  
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;  
  overflow: hidden;
  position: relative;
}

.photo-square img{
  border-style: none;
  object-fit: cover;
  width: 100%;
  height: auto;
}

#photo-list{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

#photo-add{
  font-size: 4em;
  background-color: #777777;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.hide-me{
  display: none !important;
}

/** HOME */
#map{
  height: calc(100vh - 100px);
  width: calc(100vw - 300px);
}

#nav{
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
  color: #3f3f3f;
  border-top: 8px solid gray;  
  border-bottom: 8px solid gray;
}

#nav #go-to-add-poi{
  height: 30px;
  width: 30px;
  font-size: 2em;
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #777777;
}

#content #go-to-home{
  height: 30px;
  width: 30px;
  font-size: 2em;
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #777777;
}

#content #delete-photo{
  height: 30px;
  width: 30px;
  font-size: 2em;
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #777777;
  position: absolute;
  right: calc(50% - 22px);
  top: calc(50% - 22px);
}

#divide-home{
  display: flex;
}
#side-bar{
  width:300px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.poi-side{
  min-height: 100px;
  width: 270px;
  display: flex;
  padding: 10px 5px;
  align-items: center;
}

.poi-side:not(:last-child){
  border-bottom: 3px solid rgb(190, 190, 190);
}

.poi-side img{
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-right: 30px;
}